<app-header></app-header>
<div class="main-content">
    <div class="container mt-4">
        <h1 class="text-center font-weight-bold mb-4">Active Doctors</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Doctor ID</th>
                        <th>Doctor Name</th>
                        <th>Specialty</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of activeDoctors">
                        <td>{{ doctor.doctorId }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.specialty }}</td>
                        <td>{{ doctor.address }}</td>
                        <td>{{ doctor.phoneNumber }}</td>
                        <td>{{ doctor.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>